#menu {
    height: 8vh;
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
    background-color:  rgb(23, 47, 79);
}
#menu ul {
    list-style-type: none;
}
#menu ul li {
    display: inline-block;
    min-width: 150px;
    padding: 20px 
}
.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Helvetica; 
}
#video-container {
   font-family: Helvetica;
   font-size: 20px;
}
.video-item {
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
    color: rgb(23, 47, 79);
}
#conteudo {
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    color: rgb(23, 47, 79);
}


